.container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2d3031;
    color: white;
  }
  .result {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: large;
    width: 13rem;
    background-color: #474242;
    border: 1px solid #525252;
    color: rgb(255, 255, 255);;

  }
  .button {
    font-size: large;
    padding: 0.5rem;
    width: 13rem;
    margin: 0.5rem 0;
    border: 1px solid #474242;
    background-color: #474242;
    color: rgb(224, 156, 156);
  }